<div class="panel-container">
  <section class="estadisticas">
    <h2 class="titulo-seccion">
      <i class="fas fa-chart-bar icono-seccion"></i>
      Monitoreo de Actividad
    </h2>
    <div class="contenedor-estadisticas">
      <div class="card total">
        <div class="icono">
          <i class="fa-solid fa-upload" style="color: #74C0FC;"></i>
        </div>
        <h4>Repositorios subidos</h4>
        <p>5</p>
      </div>
      <div class="card aprobados">
        <div class="icono">
          <i class="fa-solid fa-running" style="color: #63E6BE;"></i>
        </div>
        <h4>Usuarios activos</h4>
        <p>4</p>
      </div>

      <div class="card rechazados">
        <div class="icono">
          <i class="fa-solid fa-exclamation-triangle" style="color: #FA5252;"></i>
        </div>
        <h4>Alertas de seguridad</h4>
        <p>4</p>
      </div>
    </div>
  </section>
</div>