<div class="background">
  <div class="login-container">
    <div class="login-card">
      <h1 class="login-title">Bienvenido</h1>
      <p class="signup-link">
        ¿No tienes una cuenta? <a routerLink="/registro">¡Crea una hoy!</a><br />
        Ingresa tus credenciales para acceder.
      </p>

      <form [formGroup]="loginForm" (ngSubmit)="ingresar()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo</mat-label>
          <input matInput formControlName="username" placeholder="Ingresa tu correo">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Ingresa tu contraseña">
        </mat-form-field>

        <button mat-raised-button color="primary" class="login-button" type="submit">
          Iniciar Sesión
        </button>
      </form>
    </div>
  </div>
</div>
