<div class="main-content">
    <div class="dashboard-title">
      <i class="fas fa-chart-line"></i>
      <h1>Gestión de Recursos</h1>
    </div>
  
    <div class="stats-grid">
      <div class="stat-card blue">
        <div class="stat-header">
          <i class="fa-solid fa-memory" style="color: #63E6BE;"></i>
                    <h3>Almacenamiento</h3>
        </div>
        <div class="stat-subtitle">
          <i class="fas fa-info-circle"></i>
          <span>Espacio total</span>
        </div>
        <div class="stat-number">500 GB</div>
      </div>
      <div class="stat-card red">
        <div class="stat-header">
          <i class="fa-solid fa-database" style="color: #63E6BE;"></i>
                            <h3>Base de Datos</h3>
        </div>
        <div class="stat-subtitle">
          <i class="fas fa-info-circle"></i>
          <span>Uso de la base de datos</span>
        </div>
        <div class="stat-number">75%</div> 
      </div>
    </div>
    
